<div class="card">
    <div class="card-image">
        <img src="imagen-desktop.jpg" alt="Imagen del producto">
    </div>
    <div class="card-content">
        <h2>Título</h2>
        <h3>Subtítulo</h3>
        <p>Descripción</p>
        <div class="card-prices">
            <div class="card-price">
                <p class="card-price-label">Precio Actual:</p>
                <p class="card-price-amount">$50</p>
            </div>
            <div class="card-price">
                <p class="card-price-label">Precio Anterior:</p>
                <p class="card-price-amount">$70</p>
            </div>
        </div>
        <button class="btn-add-to-cart"><i class="fa fa-shopping-cart"></i> Añadir al carrito</button>
    </div>
</div>