.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 769px) {
    .container {
        align-items: flex-start;
        margin: 0;
      }
}